.ChooseDesk {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: stretch;
  align-content: stretch;
  flex: 1 0 100%;
  background-color: #aaa;
}
.Element {
  flex: 0 1;
  width: 15vw;
  height: 15vh;
  margin: auto;
}
