html,
body {
  width: 100%;
  height: 100%;
}

.app {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.app-header {
  flex: 0 1 100%;
  justify-content: center;
  text-align: center;
  background-color: #333333;
  height: 5vh;
  font-size: calc(1px + 2vmin);
  color: white;
  line-height: 5vh;
}

.app-footer {
  flex: 0 1 100%;
  background-color: #333333;
  height: 5vh;
  font-size: calc(1px + 2vmin);
  color: white;
}

.link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
