.battle-desk {
  display: flex;
  justify-content: center;
  text-align: center;
  flex: 9 0 100%;
  background-color: #ccc;
  color: #111;
}

.decision {
  flex: 1 0;
  width: auto;
  max-width: 15vw;
  margin: auto;
}

.player {
  order: 0;
}

.opponent {
  order: 2;
}

.opposition {
  order: 1;
}

.waiting-icon {
  animation: Waiting-icon-spin infinite 20s linear;
}

@keyframes Waiting-icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
